{{ partial "header.html" . }}

<div class="article-meta">
    {{ $image := .Params.Get "image" }}
    {{ if strings.Contains $image "http" }}
    <img src="{{ $image }}" />
    {{ else }}
    {{ with resources.Get $image }}<img src="{{ (.Resize "800x").Permalink }}" />{{ end }}
    {{ end }}
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{/* 
    {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
    */}}
    {{ if (gt .Params.date 0) }}<div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>{{ end }}
</div>

<main>
{{ .Content }}

<!-- At a glance -->

<!-- Build -->
{{ $f := (printf "kits/builds/%s/_index.md" (.Params.Get "id")) }}
{{ if fileExists $f}}
    {{ readFile $f | markdownify }}
{{ end }}

<!-- Gallery -->

</main>

{{ partial "footer.html" . }}
